# Auto detect text files and perform LF normalization
* text=auto
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hosting</title>
  </head>
  <style>
    h1 {
      text-align: center;
      color: rgb(100, 33, 33);
      font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    }

    h2 {
        text-align: center;
        color: blue;
        font-family: 'Caveat', cursive;
font-family: 'Lora', serif;
font-family: 'Mooli', sans-serif;
font-family: 'Outfit', sans-serif;
font-family: 'Patrick Hand', cursive;
font-family: 'Roboto Mono', monospace;
    }
  </style>
  <body>
    <h1>This is a testing page for Netlify</h1>

    <h2>
    I cannot get my site to be live on <strong>netlify</strong>
    <br>
    Coded by Rotenda
    </h2>
  </body>
</html>